<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>329242683294-1va3ftuo00mg679hgdl7n42lemv3e6s0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.329242683294-1va3ftuo00mg679hgdl7n42lemv3e6s0</string>
	<key>API_KEY</key>
	<string>AIzaSyAD06rRqRYfgIzmNqq3szXwc_azGDcUOPQ</string>
	<key>GCM_SENDER_ID</key>
	<string>329242683294</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taxiappdemo</string>
	<key>PROJECT_ID</key>
	<string>taxiapp-98430</string>
	<key>STORAGE_BUCKET</key>
	<string>taxiapp-98430.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:329242683294:ios:1be1c9a07dfd660c61188f</string>
</dict>
</plist>